body {
  text-align: center;
  background-color: rgb(28, 28, 28);
}

div {
  display: inline-block;
}

button {
  display: inline-block;
  padding: 110px 100px;
  position: relative;
  margin: 100px;
}